* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.home {
    position: relative;
}

.home img.cover {
    width: 100%;
}

.home img.logo {
    width: 100px;
}

.home .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.205);
}

.home header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 38px;
}

.home header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.home header ul li {
    margin-left: 40px;
    color: white;
    font-size: 16px;
}

.home header ul li button {
    border: none;
    height: 32px;
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;

}

.img-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .info {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home .info h1 {
    color: #fff;
    font-size: 58px;
}

.home .info p {
    color: #f8f8f8;
    max-width: 800px;
    text-align: center;
    margin-top: 10px;
    font-size: 22px;
}

.home .info .actions {
    margin-top: 36px;
}

.home .info .actions .book {
    border: none;
    height: 40px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 16px;
    background-color: #285A43;
    color: #fff;
    margin-right: 16px;
}

.home .info .actions .watch {
    border: none;
    height: 40px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

.head-title .content h1 {
    font-size: 82px;
    color: #fff;
}

.head-title .content p {
    font-size: 24px;
    color: #F8F8F8;
    padding: 0 18%;


}

/* main div.cover{
    width: 1000px;
    height: 900px;
} */

div.container div.cards {
    margin: 16px 26px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 60px;
    padding: 20px;
}

div.container div.cards h4 {
    color: #337A5B;
    font-family: Lato;
    font-size: 19px;
    font-style: normal;
    font-weight: 900;
    line-height: 140%;
    /* 9.975px */
    text-transform: capitalize;
}

div.container h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .container .box {
    background-color: #F8F8F8;
    margin: 16px 26px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 60px;
    padding: 20px;
}

.section-1 {
    position: relative;
}

.section-1 h1 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #fff;
}

.section-1 .sub-t {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #fff;
}

.section-1 input {
    position: absolute;
    top: 67%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    color: #fff;
    opacity: 0.3;
}

.section-1 button {
    position: absolute;
    top: 67%;
    left: 66%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    color: #fff;
    width: 107px;
    background-color: #285A43;

}

.section-1 img {
    width: 100%;
}

.boxes {
    margin-top: 40px;
    display: flex;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.box-1,
.box-2,
.box-3 {
    margin-left: 40px;
    width: 300px;
    height: 300px;
}

footer {
    height: 300px;
    background-color: black;
}

.tittle {
    margin-top: 80px;
    padding-left: 40%;
}

.tittle h1 {
    padding-left: 40%;
    background-color: black;
    color: white;
    margin-left: -650px;
}

.icon img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid white;
    margin-left: 40px;
}

.icon {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

footer ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

footer ul li {
    margin-left: 40px;
    color: white;
    font-size: 16px;
}

/* .container{
    display: block;
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
} */



































/* *{
    margin: 0;
    padding: 0;

}
body{
    
    background-color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}
header nav{
    padding: 10px 65px;
    margin: 0 40px;
    display: flex;
    justify-content:space-between;
    align-items: center;

}
nav img.logo{
    height:150px;
    width: 150px;
    padding-left: 20px;
}
nav ul{
    font-weight: 530;
    font-size:23px;
    cursor: pointer;
    color: #fff;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li{

    margin: 10px 33px;
}
nav ul li button{
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 23px;
    font-weight: 530;
    cursor: pointer;
    padding: 15px 62px;
    border: 1px solid #fff;
    border-radius: 2px;
}

.cover  {
    background-image: url('/assets/cover.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
height: 1000px;

}





.container ul{
    list-style-type: none;
    margin-top: 20px;
} */